<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${product.title}]] &ndash; STOCK</title>
</head>
<body>
<a data-th-href="@{/catalogue/products/list}"> Go to the list of materials</a>
<h1 data-th-text="${product.title}"></h1>
<ul>
    <li><strong>ID</strong>: <span data-th-text="${product.id}"></span></li>
    <li><strong>Name</strong>: <span data-th-text="${product.title}"></span></li>
    <li><strong>Description</strong>: <span data-th-text="${product.details}"></span></li>
</ul>
</body>
</html>